@font-face {
  font-family: "NeuzeitOfficeW01-Regula";
  src: url("http://localdata.com/fonts/673817/regular.eot?#iefix");
  src: url("http://localdata.com/fonts/673817/regular.eot?#iefix") format("eot"), url("http://localdata.com/fonts/673817/regular.woff") format("woff"), url("http://localdata.com/fonts/673817/regular.ttf") format("truetype"), url("http://localdata.com/fonts/673817/regular.svg#85050462-ab1f-4478-a289-36eed1d3c53f") format("svg"); }

@font-face {
  font-family: "Neuzeit Office W01 Bold";
  src: url("http://localdata.com/fonts/673808/bold.eot?#iefix");
  src: url("http://localdata.com/fonts/673808/bold.eot?#iefix") format("eot"), url("http://localdata.com/fonts/673808/bold.woff") format("woff"), url("http://localdata.com/fonts/673808/bold.ttf") format("truetype"), url("http://localdata.com/fonts/673808/bold.svg#d4cb246e-742d-4269-9f6a-901a050ff03f") format("svg"); }


body {
	font-family: NeuzeitOfficeW01-Regula, Open Sans, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #6e6663;
  font-size: 16px;
  line-height: 23px;
  background: #fcf5f0;
}

#map {
  height: 500px;
}

h1, h2, h3, strong, .options {
	font-family: "Neuzeit Office W01 Bold", Open Sans, Helvetica, sans-serif;
}

#container {
	max-width: 900px;
	margin: 0px auto;
	padding: 25px;
}

p {
	max-width: 500px;
}

a {
	color: #58aeff;
	text-decoration: none;
	border-bottom: 1px solid #58aeff;
}

#map a {
	border: 0px none;
}

.options {
	overflow: auto;
}

.options a {
	display: inline-block;
	border: 0px none;
	color: #fff;
	text-decoration: none;
	background: #ffad00;
	padding: 8px 15px;
	float: left;
}

.options a.selected {
	background-color: #a743c3;
}
